* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'spartan', sans-serif;
  
}

h1 {
    font-weight: 300;
    font-size: 2rem;
    
}

.hero-title, .booking-title {
    padding-bottom: 2.25rem;
    padding-left: 165px;
    color: white;
    font-size: 64px;
    letter-spacing: -0.8px;
}

.hero-text {
    padding-bottom: 2.5rem;
    max-width: 20.4375rem;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    letter-spacing: 0.225px;
}

.hero_content {
    padding-top: 14.5rem;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/homepage/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center top;
    padding-right: 752px;
    
    padding-bottom: 9.5rem;
  }
  
  .hero-logo {
    padding-bottom: 2rem;
  }

  .hero-logo img {
    height: 2rem;
    width: auto;
  }

  .btn {
    padding: 1.5rem 3.4375rem;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid white;
      
  }

  .btn:hover {
    background-color: white;
    color: gray;

  }

  

  .info-top {
    display: flex;
    flex-direction: row;
    padding-right: 165px;
    padding-top: 73px;
    background-image: url("./images/patterns/pattern-curve-top-right.svg");
    background-repeat: no-repeat;
    background-position: top 15.625rem left 0, bottom 0 right 0;
    margin: 0 auto;
      
      
  }

  .img-top {
    width: 100%;
    max-width: 540px;
    max-height: 720px;
    margin-top: -150px;
    margin-left: 200px;
    
}

  .info-title {
    padding-bottom: 1rem;
  }

  .info-text {
    max-width: 28.5625rem;
    margin: 0 auto;
    padding-top: 73px;
    
  }
  .info-bottom {
    display: flex;
    flex-direction: row;
    padding-left: 167px;
    background-image: url("./images/patterns/pattern-curve-top-left.svg");
    background-repeat: no-repeat;
    background-position: top 20rem left 45rem, bottom 0 right 0;
  }

 

  .info-line {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }

  .img-bottom {
    margin-bottom: -75px;
  }

.bottom-line {
    padding-bottom: 320px;
    padding-right: -400px;
}
  .highlights {
    background: black;
    color: white;
      
  }

  .highlights-text {
    max-width: 27.8125rem;
    padding-bottom: 4rem;
    
  }
  .featured-meals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px 165px 120px 165px;
  }

  .featured-card {
    display: flex;
    margin-right: 100px;
    align-items: center;
    padding-left: 125px;
  }

  .highlights-image {
    padding-right: 30px;
    padding-bottom: 24px;
      
  }

  .events {
    padding: 5rem 1.625rem;
  }
  .events-info {
    background-image: url("./images/patterns/pattern-curve-top-right.svg");
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom 15.625rem right 0;
    margin: 0 auto;
  }

  /*.events img {
    min-width: 15.4375rem;
    min-height: 25rem;
    display: none;
    margin-bottom: 3rem;
  }*/

  .h3-text button {
    text-transform: uppercase;
    color: rgba(76, 76, 76, 1);
    display: flex;
    flex-direction: column;
    border-style: none;

  }

  .h3-text button:hover {
    color: black;
  }

  .tab-content {
    display: flex;
      
}
  


  .reservation-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("./images/homepage/ready-bg-desktop.jpg");
    min-height: 240px;
    color: white;

  }

  .booking-text {
    padding: 92px 227px 92px 165px;
  }

  #reservation-btn {
    margin: 88px 165px 88px 227px;
  }
  /*.btn {
      border: solid white 1px;
  }*/

  .footer-content {
    background-color: black;
    color: white;
  }
 

  .footer-text {
    display: flex;   
    padding: 78px 165px;
    text-transform: uppercase;
    letter-spacing: 2px;   
  }

  .contact {
    flex: 50%;
    margin-left: 165px;
  }
    .hours {
    flex: 50%;
}
    
  /*booking page*/
  
  .booking-content {
    background-image:url("./images/booking/hero-bg-desktop.jpg");
  }
      
      
  